<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

 {{>navbar}}


    {{!-- <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a href="#" class="logo"> <img src="images/logo-removebg-preview.png" alt="" srcset=""></a>

        <nav class="navbar">
            <a href="index.html">home</a>
            <a href="#vehicles">vehicles</a>
            <a href="services.html" target="_blank">services</a>
            <a href="#featured">featured</a>
            <a href="#reviews">reviews</a>
            <a href="contact.html">contact</a>
        </nav>

        <div id="login-btn">
            <button class="booknow">Enquire now</button>
            <!-- <i class="far fa-user"></i> -->
        </div>

    </header> --}}
    

    
    <section class="contact" id="contact">

        <h1 class="heading"><span>contact</span> us</h1>

        <div class="row">

            <iframe class="map" src="" 
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <form  name="submit-to-google-sheet" >
                <h3>get in touch</h3>
                
                <input type="text"  name="name"   placeholder="your name" class="box">
                <input type="email"  name="email"   placeholder="your email" class="box">
                <input type="number"  name="number"   placeholder=" your number" class="box">
                <textarea placeholder="your message" name="message"   class="box" cols="30" rows="10"></textarea>
                <input type="submit" value="send message" class="booknow">
                <span id="msg"></span>
            </form>

        </div>

    </section>
    <section class="newsletter">

        <h3>subscribe for latest updates</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit.</p>

        <form >
            <input type="email" placeholder="enter your email">
            <input type="submit" value="subscribe">
        </form>

    </section>

  
  <script>

  </script>


</body>
</html>

<!-- b500423b-8c12-46d7-920c-ad19891d7669 -->
